.home {
  width: 100%;
  min-height: 90vh;
}
.post__items {
  display: grid;
  grid-template-columns: 70% 30%;
}
.left__side {
  min-height: 90vh;
  padding: 20px 15%;
}
.right__side {
  width: 100%;
  min-height: 90vh;
  padding: 20px 15%;
}
.postedBy {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
}
.iconss {
  color: #d50000 red;
}
@media screen and (max-width: 700px) {
  .post__items {
    display: grid;
    grid-template-columns: 100%;
  }
  .right__side {
    display: none;
  }
}
